<div class="container">
  <header>
    <h1>Mi Página Web</h1>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#acerca">Acerca de</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inicio" class="inicio">
      <h2>Bienvenido a nuestra página</h2>
      <img src="../assets/img/bienvenido.jpg" alt="Imagen de bienvenida" >
    </section>

    <section id="acerca" class="acerca">
      <h2>Acerca de nosotros</h2>
      <p>Bienvenido a nuestra página web. Somos un equipo apasionado, liderado por un estudiante de Ingeniería en Desarrollo de Software, enfocado en brindar soluciones tecnológicas innovadoras.
      <img src="../assets/img/7540103.png" alt="Nuestro equipo">
    </section>

    <section id="servicios">
      <h2>Nuestros servicios</h2>
      <ul>
        <li>
          <img src="../assets/img/definicion-servicios.jpg" alt="Servicio 1" class="img-thumbnail"><br>
          Soporte Técnico 
        </li>
        <li>
          <img src="../assets/img/ingenieria-software.jpg" alt="Servicio 2" class="img-thumbnail"><br>
          Desarrollo Web 
        </li>
        <li>
          <img src="../assets/img/PL29745.jpg" alt="Servicio 3" class="img-thumbnail"><br>
          Asesorias
        </li>
      </ul>
    </section>

    <section id="contacto" class="contacto">
      <h2>Contacto</h2>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>

        <button type="submit">Enviar</button>
      </form>
      <img src="../assets/img/contacto.png" alt="Contáctanos" class="img-responsive">
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Mi Página Web. Todos los derechos reservados.</p>
  </footer>
</div>
